{# {% extends "project/openedProject.html.twig" %} #}

{% block head %}
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">

{% endblock %}


{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.tab {
			display: flex;
		}


		/* Correspond à une colonne */

		.column {
			display: inline-table;
			border: solid;
			/* padding: auto auto;w */
			margin: 2rem;
			background-color: aliceblue;
			border-radius: 40px;
			padding: 2rem;
		}

		.title {
			position: relative;
			text-align: center;
			margin: auto;
		}
	</style>


	<div class="tab">


		<div class="column" style="width: 18rem;">
			<div class="title">
				TITRE</div>

			<!-- Tache 1 -->
			<div class="card bg-light mb-3" ondrop="drop(event)" ondragover="allowDrop(event)" style="max-width: 18rem;">
				<div class="card-header">Header</div>
				<div class="card-body">
					<h5 class="card-title">Light card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>


			<!-- Tache 2 -->
			<div class="card bg-light mb-3" style="max-width: 18rem;">
				<div class="card-header">Header</div>
				<div class="card-body">
					<h5 class="card-title">Light card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>


			<!-- Tache 3 -->
			<!-- <div class="card border-success mb-3" style="max-width: 18rem;">
															                <div class="card-header bg-transparent border-success">Header</div>
															                <div class="card-body text-success">
															                    <h5 class="card-title">Success card title</h5>
															                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
															                </div>
															                <div class="card-footer bg-transparent border-success">Footer</div>
															            </div> -->
		</div>


		<div class="column" style="width: 18rem;">
			<div class="title">
				TITRE</div>

			<!-- Tache 1 -->
			<div class="card bg-light mb-3" style="max-width: 18rem;">
				<div class="card-header">Header</div>
				<div class="card-body">
					<h5 class="card-title">Light card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>


			<!-- Tache 2 -->
			<div class="card bg-light mb-3" style="max-width: 18rem;">
				<div class="card-header">Header</div>
				<div class="card-body">
					<h5 class="card-title">Light card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>


			<!-- Tache 3 -->
			<!-- <div class="card border-success mb-3" style="max-width: 18rem;">
															                <div class="card-header bg-transparent border-success">Header</div>
															                <div class="card-body text-success">
															                    <h5 class="card-title">Success card title</h5>
															                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
															                </div>
															                <div class="card-footer bg-transparent border-success">Footer</div>
															            </div> -->
		</div>

		<div class="column" style="width: 18rem;">
			<div class="title">
				TITRE</div>

			<!-- Tache 1 -->
			<div class="card bg-light mb-3" style="max-width: 18rem;">
				<div class="card-header">Header</div>
				<div class="card-body">
					<h5 class="card-title">Light card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>


		</div>
	</div>

{% endblock %}
