{% block head %}
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">

{% endblock %}


{% block body %}

	<style>
		.card.draggable {
			margin-bottom: 1rem;
			cursor: grab;
		}

		.droppable {
			background-color: var(--success);
			min-height: 120px;
			margin-bottom: 1rem;
		}
	</style>
	<div class="container-fluid pt-3">
		<h3 class="font-weight-light text-white">Kanban Board</h3>
		<div class="small  text-light">Drag and drop between swim lanes</div>
		<div class="row flex-row flex-sm-nowrap py-3">
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card bg-light">
					<div class="card-body">
						<h6 class="card-title text-uppercase text-truncate py-2">À faire</h6>
						<div class="items border border-light">
							{% for task in taskTabs %}
								<div class="card draggable shadow-sm" id="cd1" draggable="true" ondragstart="drag(event)">
									<div class="card-body p-2">
										<div class="card-title">
											<img src="//via.placeholder.com/30" class="rounded-circle float-right">
											<a href="" class="lead font-weight-light">TSK-154</a>
										</div>
										<p>
											This is a description of a item on the board.
										</p>
										<button class="btn btn-primary btn-sm">View</button>
									</div>
								</div>
								<div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)">
									&nbsp;
								</div>

							{% endfor %}


						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card bg-light">
					<div class="card-body">
						<h6 class="card-title text-uppercase text-truncate py-2">En cours</h6>
						<div class="items border border-light">
							{% for task in taskTabs %}
								<div class="card draggable shadow-sm" id="cd1" draggable="true" ondragstart="drag(event)">
									<div class="card-body p-2">
										<div class="card-title">
											<img src="//via.placeholder.com/30" class="rounded-circle float-right">
											<a href="" class="lead font-weight-light">TSK-152</a>
										</div>
										<p>
											This is a task that is being worked on.
										</p>
										<button class="btn btn-primary btn-sm">View</button>
									</div>
								</div>
								<div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)">
									&nbsp;
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card bg-light">
					<div class="card-body">
						<h6 class="card-title text-uppercase text-truncate py-2">Revision</h6>
						<div class="items border border-light">
							{% for task in taskTabs %}
								<div class="card draggable shadow-sm" id="cd9" draggable="true" ondragstart="drag(event)">
									<div class="card-body p-2">
										<div class="card-title">
											<img src="//via.placeholder.com/30" class="rounded-circle float-right">
											<a href="" class="lead font-weight-light">TSK-158</a>
										</div>
										<p>
											This is a description of a item on the board.
										</p>
										<button class="btn btn-primary btn-sm">View</button>
									</div>
								</div>
								<div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)">
									&nbsp;
								</div>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card">
					<div class="card-body">
						<h6 class="card-title text-uppercase text-truncate py-2">Terminé</h6>
						<div class="items border border-light">
							{% for taks in taskTabs %}
								<div class="card draggable shadow-sm" id="cd11" draggable="true" ondragstart="drag(event)">
									<div class="card-body p-2">
										<div class="card-title">
											<img src="//via.placeholder.com/30" class="rounded-circle float-right">
											<a href="" class="lead font-weight-light">TSK-144</a>
										</div>
										<p>
											This is a description of an item.
										</p>
										<button class="btn btn-primary btn-sm">View</button>
									</div>
								</div>
								<div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)">
									&nbsp;
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
